body {
  font-family: sans-serif;
  background-color: #f2e9e4;
  color: #333;
  display: flex;
  justify-content: center; /* Pusatkan secara horizontal */
  align-items: center; /* Pusatkan secara vertikal */
  min-height: 100vh; /* Pastikan body memenuhi tinggi layar */
  margin: 0; /* Hilangkan margin default */
}

.container {
  text-align: center;
  width: 100%;
  max-width: 600px; /* Tambahkan batas lebar agar terlihat lebih rapi */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Pusatkan elemen secara vertikal */
  align-items: center; /* Pusatkan elemen secara horizontal */
}

.kalimat {
  font-size: 24px;
  margin-bottom: 20px;
  display: none; /* Sembunyikan semua kalimat di awal */
}

.kalimat.active {
  display: block; /* Tampilkan hanya kalimat yang aktif */
}

#nextButton {
  padding: 10px 20px;
  background-color: #e9c46a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#nextButton:hover {
    background-color:#f4a261 ;
}

#stiker {
    width :auto
    }
